body {
    background: rgb(255, 255, 255);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: rgb(184, 182, 182);

    margin:0;
    padding: 0;
}
header {
    background: black;
    background-image: url("images/hero.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    padding: 10px 20px 10px 20px;
    font-size: 3rem;
    text-align: center;
}

header h1 {
    font-size: 4rem;
    text-align: left;
    padding: 10px 20px 10px 50px;
    text-transform: uppercase;
    color: rgb(240, 236, 236);
}
.features {
    background: white;
    color: grey;

    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.features figure{
    width:250px;
    margin:auto;
    text-align: center;
    text-transform: uppercase;
}

.features figure img {
    width:250px;
    height:250px;
    border-radius: 50%;
    box-shadow: grey 0 0 10px;
    border: 2px solid white;
}

footer {
    background: black;
    padding: 20px 20px;
    color: grey;
    text-align:center;
    font-size:12px
}
div {
    background: rgb(211, 211, 211);
    margin:auto;
    width: 100px;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    display: inline-block; 
    margin-right: 20px;
    font-family: sans-serif;
    padding: 20px 0px 0px 0px
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}
a:hover {
    color: rgb(150, 150, 233);
}
a:active {
    text-decoration: none;
    color: rgb(214, 214, 214);
}
h1 {
    color: white;
}

header .logo a {
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-size: 100px;
    display: inline-block;
    height: 50px;
    width:100px;
    position: relative;
    top: -17px;
    text-indent: -999999999px;
}

header .mobile {
    display: none;
}

@media screen and (max-width:705px){
    header {
        height:250px;
        background-position: 0 -20px;
    }
    header h1 {
        padding: -0px 20px 10px 50px;
        position: relative;
        top: -50px
    }
    header .mobile{
        display: inline-block;
    }
    header .desktop{
        display: none;
    }
}